.filters {
  list-style: none;
  padding: 0;
  margin: 0;

  &__item {
    margin-bottom: 0.75rem;
    cursor: pointer;
  }

  &__switch {
    position: relative;
    display: flex;
    align-items: center;
    gap: 0.75rem;
    cursor: pointer;
    user-select: none;
  }

  &__switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }

  &__slider {
    position: relative;
    width: 2.75rem;
    height: 1.5rem;
    background-color: #ccc;
    border-radius: 2.125rem;
    transition: background-color 0.3s;

    &::before {
      content: "";
      position: absolute;
      height: 1.125rem;
      width: 1.125rem;
      left: 0.1875rem;
      bottom: 0.1875rem;
      background-color: white;
      border-radius: 50%;
      transition: transform 0.3s;
    }
  }

  &__switch input:checked + &__slider {
    background-color: #7bb899;
  }

  &__switch input:checked + &__slider::before {
    transform: translateX(1.25rem);
  }

  &__label {
    font-size: 0.75rem;
    font-weight: 500;
    color: var(--Black-Text, #1f2020);
    text-transform: uppercase;
    letter-spacing: 0.045rem;
  }
}
