.sort {
  position: relative;
  font-weight: bold;
  font-size: 1rem;

  &__toggle {
    cursor: pointer;
    background: transparent;
    padding: 0.5rem 0 0.5rem 1rem;
    color: var(--Black-Text, #1f2020);
    text-align: right;
    font-size: 0.75rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.045rem;
    text-transform: uppercase;
    transition: border-color 0.2s;
    border: none;
  }

  &__list {
    position: absolute;
    right: 0;
    top: 0;
    background: #fff;
    z-index: 10;
    list-style: none;
    min-width: 13.75rem;
    overflow: hidden;
    transition: opacity 0.2s ease;

    &--hidden {
      display: none;
    }
  }

  &__item {
    padding: 1rem;
    cursor: pointer;
    font-size: 0.75rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.045rem;
    text-transform: uppercase;
    transition: background 0.2s;

    &:hover {
      background: #7bb899;
    }
  }
}

.overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.7);
  z-index: 5;
  transition: opacity 0.3s ease;

  &--hidden {
    display: none;
  }
}
